:root {
	--darkfont: #ab4967;
	--darkgreen: #0c1713;
	--bg: #a04668;
	--lightbg: #bc8da0;
	--lightfont: #d9d0de;
	--headingfont: 'Belleza', sans-serif;
	--paragraphfont: 'Roboto', sans-serif;
}

#score-background {
	background-image: linear-gradient(to right, var(--lightbg), var(--bg));
	height: 250vh;
	display: flex;
	flex-wrap: wrap;
}

.score-header {
	border-bottom: var(--bg) solid 2px;
	width: 100%;
	padding: 0;
	height: 5%;
	margin-top: 1rem;
}

.team-profiles {
	width: 100%;
	height: 95%;
	padding-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.profile {
	width: 80%;
	height: 60vh;
	padding: 2rem;
	box-shadow: 1.5rem 1rem 1rem var(--darkgreen);
}

.profile-top {
	height: 60%;
	display: flex;
	padding: 0.5rem;
	color: white;
}

.profile-text {
	padding: 0;
	width: 60%;
}

#introductory-text {
	width: 80%;
	padding: 0;
	font-family: var(--paragraphfont);
	font-size: 1.2rem;
}

#player-name {
	font-family: var(--headingfont);
	font-size: 3.5rem;
}

#profile-image {
	min-width: 250px;
	object-fit: cover;
	border-radius: 300px;
	min-height: 200px;
	border: var(--darkgreen) solid 4px;
	margin-bottom: 1rem;
}

.profile-bottom {
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10%;
	font-size: 2rem;
	color: white;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
}

.completed-katas,
.kata-kyu,
.kata-language {
	display: flex;
	flex-wrap: wrap;
	font-size: 4rem;
	align-items: center;
	justify-content: center;
}

.completed-katas,
.kata-language {
	gap: 1rem;
}

.description {
	font-size: 1rem;
}

#kata-table,
#kata-rows,
#kata-rows > * {
	border: var(--darkfont) 2px solid;
	background-color: var(--lightbg);
	font-size: 1rem;
	padding: 0.4rem;
	font-family: var(--paragraphfont);
}

#sliderPage1 h1 {
	font-family: var(--headingfont);
	color: white;
	font-size: 30 px;
	padding-left: 3%;
	text-shadow: 0 0 5px black;
}

#sliderPage1 {
	background-image: url('https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067__340.png');
	background-repeat: no-repeat, no-repeat;
	background-size: cover;
	font-family: var(--paragraphfont);

	font-size: 22px;
	text-align: justify;
	margin: auto;
	width: 98.5%;
	height: 50vh;

	padding: 10px 10px 100px 10px;
	display: flex;
	align-items: center;
}

#intro span {
	background-color: antiquewhite;
}
#weekSummary h1 {
	font-family: var(--headingfont);
}

#weekSummary {
	font-family: var(--paragraphfont);
	color: #0c1713;
	font-size: 20px;
	height: 50vh;
	align-items: center;
	margin-left: 5%;
	width: 98.5%;
	height: 50vh;
}

#secHalf {
	background-color: #bc8da0;
	margin-top: -5%;
	padding-top: 5%;
	padding-right: 5%;
}

#intro {
	padding: 10%;
}

#logoPage1 {
	margin-left: 3%;
}

#quote {
	font-size: 20px;
	font-style: italic;
	float: right;
	padding-top: 8%;
	padding-right: 10%;
}

#linkBack {
	font-size: 15px;
	padding-top: 10%;
}

#headerPage1 {
	border-bottom: 4px solid black;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	width: 100%;

	background-color: whitesmoke;
}

#difficulties-lessons {
	height: 200vh;
	display: flex;
	background-color: var(--lightfont);
	flex-direction: column;
}

#struggles {
	font-family: var(--headingfont);
	color: var(--bg);
	display: flex;
	justify-content: center;
}

#difficulties {
	display: flex;
	font-family: var(--paragraphfont);
	color: var(--darkgreen);
}

#no-time-pic {
	float: right;
	height: 200px;
	width: 200px;
	height: 200px;
}

#learnings {
	font-family: var(--headingfont);
	color: var(--bg);
	display: flex;
	justify-content: center;
}

#lessons {
	display: flex;
	font-family: var(--paragraphfont);
	color: var(--darkgreen);
	align-content: space-between;
}

#learned-lessons-pic {
	float: right;
	height: 200px;
	width: 200px;
}

#page3 {
	height: 100vh;
}

#page4 {
	height: 100vh;
}
